{{ define "main" }}
<article class="doc-content">
    <div class="doc-body markdown">
        {{ .Content }}
    </div>
    <div class="doc-navigation">
        <div class="doc-nav-left">
            {{ with .NextInSection }}
            <a href="{{ .Permalink }}" class="doc-nav-prev">← {{ .Title }}</a>
            {{ end }}
        </div>
        <div class="doc-nav-right">
            {{ with .PrevInSection }}
            <a href="{{ .Permalink }}" class="doc-nav-next">{{ .Title }} →</a>
            {{ end }}
        </div>
    </div>
</article>
{{ end }}
