<header class="site-header">
    <div class="header-content">
        <button class="mobile-menu-toggle" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a href="/" class="site-title">
            <img src="/images/raccoon.svg" alt="" class="header-raccoon-icon">
            {{ .Site.Title }}
        </a>
        <div class="header-search">
            <input type="search" placeholder="Search docs..." class="search-input" id="search-input" autocomplete="off">
            <div class="search-results" id="search-results"></div>
        </div>
    </div>
</header>
